body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3f3838;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

#full_name {
    text-align: center;
}

.letter-container {
    /* display: inline-block; */
    margin: 0px 10px;
    cursor: pointer;
    position: relative; /* Add position relative for proper positioning of .animated-text */
}

/* General styles for all letters */
.letter {
    display: inline-block;
    font-size: 80px;
    -webkit-text-stroke: 0.5px #cac0c0;
    animation: borderGrowShrink 2s infinite alternate;
    position: relative; /* Keep position relative for letter */
}

.animated-text {
    position: absolute; /* Change position to absolute */
    white-space: nowrap;
    bottom: 6px;
    display: inline-block;
    color: rgb(218, 218, 218);
    font-size: 50px;
    -webkit-text-stroke: 0.5px #cac0c0;
    opacity: 0;
}


/* Styles for specific letters, currently not being used */
/*#A:hover::after {
    content: "bout";
}

#N:hover::after {
    content: "uke Breakdowns";
}

#D:hover::after {
    content: "emo Reel";
}

#R:hover::after {
    content: "esume";
}

#E:hover::after {
    content: "xperience";
}

#W:hover::after {
    content: "orks in Progress";
}*/


#owen {
    font-size: 45px;
    -webkit-text-stroke: 0.25px #cac0c0;
}

.link {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
}

.link img {
    width: 50px;
}

@keyframes borderGrowShrink {
    0% {
        -webkit-text-stroke: 0.5px #cac0c0;
    }
    5% {
        -webkit-text-stroke: 0.6px #cac0c0;
    }
    10% {
        -webkit-text-stroke: 0.7px #cac0c0;
    }
    15% {
        -webkit-text-stroke: 0.8px #cac0c0;
    }
    20% {
        -webkit-text-stroke: 0.9px #cac0c0;
    }
    25% {
        -webkit-text-stroke: 1px #cac0c0;
    }
    30% {
        -webkit-text-stroke: 1.1px #cac0c0;
    }
    35% {
        -webkit-text-stroke: 1.2px #cac0c0;
    }
    40% {
        -webkit-text-stroke: 1.3px #cac0c0;
    }
    45% {
        -webkit-text-stroke: 1.4px #cac0c0;
    }
    50% {
        -webkit-text-stroke: 1.5px #cac0c0;
    }
    55% {
        -webkit-text-stroke: 1.4px #cac0c0;
    }
    60% {
        -webkit-text-stroke: 1.3px #cac0c0;
    }
    65% {
        -webkit-text-stroke: 1.2px #cac0c0;
    }
    70% {
        -webkit-text-stroke: 1.1px #cac0c0;
    }
    75% {
        -webkit-text-stroke: 1px #cac0c0;
    }
    80% {
        -webkit-text-stroke: 0.9px #cac0c0;
    }
    85% {
        -webkit-text-stroke: 0.8px #cac0c0;
    }
    90% {
        -webkit-text-stroke: 0.7px #cac0c0;
    }
    95% {
        -webkit-text-stroke: 0.6px #cac0c0;
    }
    100% {
        -webkit-text-stroke: 0.5px #cac0c0;
    }
}