body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3f3838;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

#full_name {
    text-align: center;
}

#first_name {
    display: inline-block;
}

.letter-container {
    display: block;
    margin: 0px 0;
    cursor: pointer;
}

/* General styles for all letters */
.letter {
    font-size: 80px;
    -webkit-text-stroke: 0.5px #cac0c0;
    animation: borderGrowShrink 2s infinite alternate;
    position: relative;
    display: inline-block;
}

.letter:hover {
    transition: all 1.0s ease-in-out;
}

.animated-text {
    position: absolute;
    bottom: 7px;
    left: -100%;
    white-space: nowrap; /* Add this line to prevent text from wrapping */
    
    transition: left 1s ease-in-out;
    visibility: hidden;
    color: rgb(218, 218, 218);
    font-size: 50px;
    -webkit-text-stroke: 0.5px #cac0c0;
    align-items: left;
    justify-content: left;
}

.letter-container:hover .animated-text {
    left: 0;
}

.letter:hover .animated-text {
    left: 100%;
    transform: translateX(0);
    
    visibility: visible;
}


/* Styles for specific letters, currently not being used */
#A:hover::after {
    content: "bout";
}

#N:hover::after {
    content: "uke Breakdowns";
}

#D:hover::after {
    content: "emo Reel";
}

#R:hover::after {
    content: "esume";
}

#E:hover::after {
    content: "xperience";
}

#W:hover::after {
    content: "orks in Progress";
}


#owen {
    font-size: 45px;
}

.link {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
}

.link img {
    width: 50px;
}

@keyframes borderGrowShrink {
    0% {
        -webkit-text-stroke: 0.5px #cac0c0;
    }
    5% {
        -webkit-text-stroke: 0.6px #cac0c0;
    }
    10% {
        -webkit-text-stroke: 0.7px #cac0c0;
    }
    15% {
        -webkit-text-stroke: 0.8px #cac0c0;
    }
    20% {
        -webkit-text-stroke: 0.9px #cac0c0;
    }
    25% {
        -webkit-text-stroke: 1px #cac0c0;
    }
    30% {
        -webkit-text-stroke: 1.1px #cac0c0;
    }
    35% {
        -webkit-text-stroke: 1.2px #cac0c0;
    }
    40% {
        -webkit-text-stroke: 1.3px #cac0c0;
    }
    45% {
        -webkit-text-stroke: 1.4px #cac0c0;
    }
    50% {
        -webkit-text-stroke: 1.5px #cac0c0;
    }
    55% {
        -webkit-text-stroke: 1.4px #cac0c0;
    }
    60% {
        -webkit-text-stroke: 1.3px #cac0c0;
    }
    65% {
        -webkit-text-stroke: 1.2px #cac0c0;
    }
    70% {
        -webkit-text-stroke: 1.1px #cac0c0;
    }
    75% {
        -webkit-text-stroke: 1px #cac0c0;
    }
    80% {
        -webkit-text-stroke: 0.9px #cac0c0;
    }
    85% {
        -webkit-text-stroke: 0.8px #cac0c0;
    }
    90% {
        -webkit-text-stroke: 0.7px #cac0c0;
    }
    95% {
        -webkit-text-stroke: 0.6px #cac0c0;
    }
    100% {
        -webkit-text-stroke: 0.5px #cac0c0;
    }
}