
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3f3838;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

#full_name {
    text-align: center;
}

#first_name {
    display: inline-block; /* Add this property to display the letters on a single line */
}


/* General styles for all letters */
.letter {
    font-size: 80px;
    cursor: pointer;
    -webkit-text-stroke: 0.5px #cac0c0;
    animation: borderGrowShrink 2s infinite alternate;
    position: relative;
    white-space: nowrap;
}

.letter:hover {
    transition: all 1.0s ease-in-out;
}

.letter::after {
    content: attr(data-content); /* Use data-content attribute as content */
    position: absolute;
    top: 0;
    left: 0; /* Initially position it within the letter */
    transition: left 0.5s ease-in-out; /* Transition for left property */
    white-space: nowrap;
}

.letter:hover::after {
    left: 100%;
    transform: translateX(100%); /* Slide the content in from the right */
    color: rgb(218, 218, 218);
    font-size: 50px;
    -webkit-text-stroke: 0.5px #cac0c0;
}

/*A*/
#A {
    
}

#A:hover {
    
}

#A:hover::after {
    content: "bout"; /* Updated content on hover */
}

/*N*/
#N {
    
}

#N:hover {
    
}

#N:hover::after {
    content: "uke Breakdowns";
}

/*D*/
#D {
    
}

#D:hover {
    
}

#D:hover::after {
    content: "emo Reel";
}


/*R*/
#R {
    
}

#R:hover {
    
}

#R:hover::after {
    content: "esume";
}

/*E*/
#E {
    
}

#E:hover {
    
}

#E:hover::after {
    content: "xperience";
}

/*W*/
#W {

}

#W:hover {
    
}

#W:hover::after {
    content: "orks in Progress";
}


#owen {
    font-size: 45px;
}


.link {
    text-align: center;
    margin-top: 20px;
    display: flex; /* Remove flex-direction: column; to display links side by side */
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
}

.link img {
    width: 50px;
    height: auto;
}

@keyframes borderGrowShrink {
    0% {
        -webkit-text-stroke: 0.5px #cac0c0;
    }
    5% {
        -webkit-text-stroke: 0.6px #cac0c0;
    }
    10% {
        -webkit-text-stroke: 0.7px #cac0c0;
    }
    15% {
        -webkit-text-stroke: 0.8px #cac0c0;
    }
    20% {
        -webkit-text-stroke: 0.9px #cac0c0;
    }
    25% {
        -webkit-text-stroke: 1px #cac0c0;
    }
    30% {
        -webkit-text-stroke: 1.1px #cac0c0;
    }
    35% {
        -webkit-text-stroke: 1.2px #cac0c0;
    }
    40% {
        -webkit-text-stroke: 1.3px #cac0c0;
    }
    45% {
        -webkit-text-stroke: 1.4px #cac0c0;
    }
    50% {
        -webkit-text-stroke: 1.5px #cac0c0;
    }
    55% {
        -webkit-text-stroke: 1.4px #cac0c0;
    }
    60% {
        -webkit-text-stroke: 1.3px #cac0c0;
    }
    65% {
        -webkit-text-stroke: 1.2px #cac0c0;
    }
    70% {
        -webkit-text-stroke: 1.1px #cac0c0;
    }
    75% {
        -webkit-text-stroke: 1px #cac0c0;
    }
    80% {
        -webkit-text-stroke: 0.9px #cac0c0;
    }
    85% {
        -webkit-text-stroke: 0.8px #cac0c0;
    }
    90% {
        -webkit-text-stroke: 0.7px #cac0c0;
    }
    95% {
        -webkit-text-stroke: 0.6px #cac0c0;
    }
    100% {
        -webkit-text-stroke: 0.5px #cac0c0;
    }
}