body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #5e5757;
    font-family: 'Open Sans', sans-serif;
}

#about-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#title p {
    font-size: 80px;
    color: #1b1b1b;
    -webkit-text-stroke: 1px #cac0c0;
    margin-top: 20px;
    margin-bottom: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; /* Adjust this value for spacing */
}

#back-arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #f1f1f1;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}